:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background-color: darkslateblue;
}

body {
  margin: 0;
  min-height: 100%;
}

.card {
  position: relative;
  background-color: whitesmoke;
  width: 5rem;
  height: 7.5rem;
  left: 2rem;
  top: 2rem;
  border-radius: 5px;
  font-size: 20px;
}

.card__suit {
  width: 100%;
  display: block;
}

.card__suit--top {
  text-align: left;
  padding-left: 5px;
}

.card__suit--bottom {
  position: absolute;
  bottom: 0px;
  text-align: left;
  right: 5px;
  transform: rotate(180deg);
}

.card__number {
  width: 100%;
  position: absolute;
  top: 38%;
  text-align: center;
}

.red {
  color: #FF0000;
}

.black {
  color: #000;
}
